/************************************************
 * Amysql FTP - AMFTP 2.5
 * amh.sh
 * Update:2015-08-15
 * 
 */

.ico2 {
	line-height: 9000px;
	width:16px;
	margin-left:7px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
}
.ico_open2 {
	background:url(../images/all.gif) repeat 0px -342px;
}
.ico_del2 {
	background:url(../images/all.gif) repeat 0px -263px;
}
.ico_edit2 {
	background:url(../images/all.gif) repeat -321px -29px;
}
.ico_save2 {
	background:url(../images/all.gif) repeat -229px -238px;
}
.ico_down2 {
	background:url(../images/all.gif) repeat -297px -260px;
}
.ico_renovate2 {
	background:url(../images/all.gif) repeat -274px -316px;
}
.ico_PrimeKey2 {
	background:url(../images/all.gif) repeat -182px -160px;
}
.ico_only2 {
	background:url(../images/all.gif) repeat -92px -472px;
}
.ico_index2 {
	background:url(../images/all.gif) repeat -231px -369px;
}
.ico_sqlsuccess2 {
	background:url(../images/all.gif) repeat -41px -264px;
}

.ico_browse2 {
	background:url(../images/all.gif) repeat -44px -446px;
}
.ico_structure2 {
	background:url(../images/all.gif) repeat -273px -446px;
}
.ico_search2 {
	background:url(../images/all.gif) repeat -365px -107px;
}
.ico_insert2 {
	background:url(../images/all.gif) repeat -90px -264px;
}


/****************/

.ico_DESC {
	background:url(../images/all.gif) repeat -112px -339px;
}
.ico_ASC {
	background:url(../images/all.gif) repeat -158px -338px;
}

.ico_browse {
	background:url(../images/all.gif) repeat -249px -442px;
}
.ico_edit {
	background:url(../images/all.gif) repeat -343px -25px;
}
.ico_save {
	background:url(../images/all.gif) repeat -251px -234px;
}
.ico_export {
	background:url(../images/all.gif) repeat -295px -260px;
}
.ico_del {
	background:url(../images/all.gif) repeat -20px -260px;
}
.ico_PrimeKey {
	background:url(../images/all.gif) repeat -203px -156px;
}
.ico_only {
	background:url(../images/all.gif) repeat -112px -468px;
}
.ico_index {
	background:url(../images/all.gif) repeat -251px -363px;
}
.ico_AddLint {
	background:url(../images/all.gif) repeat -387px -437px;
}

/****************/

.ico_select {
	margin-left:10px;
	height:16px;
	background:url(../images/all.gif) repeat -207px -286px;
}

.ico_sqlsuccess {
	background:url(../images/all.gif) repeat -65px -261px;
	margin:0px 5px;
}
.ico_sqlError {
	background:url(../images/all.gif) repeat -430px -104px;
	margin:0px 5px;
}