/************************************************
 * Amysql FTP - AMFTP 2.5
 * amh.sh
 * Update:2015-08-15
 * 
 */

div.fieldset span.legend {
    position: relative;
    background-color: #FFF;
    padding: 3px;
    top: -30px;
    font: 700 14px Arial, Helvetica, sans-serif;
    color: #73b304;
}

div.flash {
    width: 375px;
    margin: 10px 5px;
    border-color: #D9E4FF;
}

.Ico {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; WIDTH: 16px; HEIGHT: 16px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}

.IcoNormal{
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; WIDTH: 16px; HEIGHT: 16px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
	background-image:url(../images/UploadObject/upload_normal.gif);background-repeat:no-repeat;
}

.IcoWaiting{
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; WIDTH: 16px; HEIGHT: 16px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
	background-image:url(../images/UploadObject/upload_waiting.gif);background-repeat:no-repeat;
}

.IcoUpload {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; WIDTH: 16px; HEIGHT: 16px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
	BACKGROUND-IMAGE: url(../images/UploadObject/upload.gif); BACKGROUND-REPEAT: no-repeat
}

.theFont{
	color:#0068B7;
}

.fle_{float:left;}

.statebarSmallDiv{
	width:50px;height:6px;background-color:#fafafa;border:solid 1px #BEBEBE;VERTICAL-ALIGN: middle;
	margin-left:5px;
	margin-top:5px; 
	padding:0px;
	display:block;
}
.statebarBigDiv{
	width:100px;height:6px;background-color:#fafafa;border:solid 1px #ccc;VERTICAL-ALIGN: middle;
	margin-left:5px;margin-top:4px; 
	display:block;
}
.statebar{
	background-color:#a5dd3d;width:30%;FONT-SIZE: 1px; OVERFLOW: hidden; LINE-HEIGHT: 6px;
	display:block;
}  

.ftt{
	margin:5px;
}

.progressobj{
	clear: both;
	font-family: Verdana;
	color: rgb(141, 149, 153);
	margin: 10px 0px;
	background: rgb(250, 250, 250);
	padding: 5px;
	border: 1px solid rgb(233, 231, 231);
}

.progressobj A {
	COLOR: #0068B7; TEXT-DECORATION: underline
}

.progressobj A:hover {
	COLOR: #0068B7
}
